body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    padding: 20px;
}

h1 {
    color: #333;
    text-align: center;
}

form, a {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

label {
    margin-top: 10px;
}

input, button {
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
}

button {
    background-color: #285da7;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
